$box-shadow:#5C5C5C;
:root  {
    --primary-color: #ffffff;
    --secondary-color: black;
    --font-color: #5C5C5C;
    --neonColor: #FFFF1F;
    // --blancoBg: #1c3740;
    --blancoBg: linear-gradient(45deg, #203a42, #327990);

}

[data-theme="dark"] {
    --primary-color: #1B2125;
    --secondary-color: white;
    --font-color: #ffffff;
    --bgColor: linear-gradient(45deg, #101b1e, #1e404b);
    --text-shadow:#000000;
}
[data-theme="light"] {
    --primary-color: white;
    --secondary-color: #1B2125;
    --font-color: #353535;
    --bgColor: linear-gradient(45deg, #ffffff, #ffffff);
    --text-shadow:#ffffff;

}
[data-theme=""] {
    --primary-color: white;
    --secondary-color: #1B2125;
    --font-color: #353535;
    --bgColor: linear-gradient(45deg, #d8f6ff, #6ddbff);
    --text-shadow:#ffffff;

}