:root  {
    --primary-color: #ffffff;
    --secondary-color: white;
    --font-color: Black;
}

[data-theme="dark"] {
    --primary-color: black;
    --secondary-color: white;
    --font-color: #ffffff;
}
[data-theme="light"] {
    --primary-color: white;
    --secondary-color: black;
    --font-color: Black;
}