img{
    max-width: 200px;
    margin-right: 5px;
}
header{
    display: flex;
    justify-content: center;
}
.artistPictureContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.profileContainer{
    transition: all .5s ease;
    display: flex;
    font-family: sans-serif;
    justify-content: space-evenly;
    .imageComponent{
        img{
            max-width: 350px;
        }
    }
    .infoContainer{
        width: 40vw;
        a{
            display: flex;
            align-items: center;
            list-style: none;
            color: black;
            text-decoration: none;
            font-weight:600;
            .icon{
                margin-right: 5px;
                font-size: 25px;
                padding-bottom: 2px;
            }
        }
        p{
            font-size: 20px;
        }
    }
}
@media only screen and (max-width: 800px){
    .profileContainer{
        flex-direction: column;
        align-items: center;
        .infoContainer{
            width: 75vw;
        }
    }
}